:root{
  background-color: #181717;
}

.header{
  background-color: #343434;
  padding: .5em;
  border: #343434;
  border-radius: 10px;
  display: flex;
}

.headerLogo{
  width: 5em;
}

.button{
  padding: 5em;
}

.button:hover{
  cursor: pointer;
}