:root{
  background-color: #181717;
}

*{
  font-family: 'Rubik', serif;
  color: white;
}

.genH2{
  font-weight: 600;
  font-size: 3em;
}

.genH3{
  font-weight: 600;
  font-size: 2.5em;
}

.genH4{
  font-size: 2em;
  font-weight: 600;
}

.genP{
  font-weight: 500;
  font-size: 1.125em;
  color: white;
}

.genMargins{
  margin: 10%;
}

.headerContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-bottom: 3em;
  justify-content: center;
  z-index: 1;
  background-image: linear-gradient(#181717, transparent);
  pointer-events: none;
}

.header{
  background-color: #222222;
  padding: .7em;
  padding-left: 2em;
  padding-right: 2em;
  border: #222222;
  border-radius: 30px;
  display: flex;
  max-width: 50%;
  column-gap: 6em;
  margin-top: 1em;
  align-items: center;
  pointer-events: auto;
}

.headerLogo{
  text-decoration: none;
  font-weight: 600;
  font-size: 1.875em;
  color: #3879cf;
}

.headerLogo span{
  color: white;
}

.headerLinksContainer{
  justify-content: right;
  align-items: center;
}

.headerLinks{
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-weight: 500; /* 500 is medium */
  text-align: right;
  position: relative;
  
}

.headerLinks::after{
  content: '';
  width: 0;
  height: 3px;
  background: #3879cf;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
  position: absolute;
}

.headerLinks:hover::after{
  width: 60%;
}

.homeFront{
  text-align: center;
}

.homeFrontPic{
  width: 50%;
}

.homeTitle{
  font-size: 6em;
  font-weight: 600;
  margin-bottom: 0%;
  margin-top: 0%;
}

.homeTitle span{
  color: #3879cf;
}

.homeSubTitle{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20%;
}

.homeHeader{
  font-size: 4em;
  margin-bottom: 0%;
  text-align: center;
  font-weight: 600;
}

.homeAboutDiv{
  display: flex;
}

.homeSpecialHeader{
  font-size: 4em;
  margin-bottom: 0%;
  font-weight: 600;
  text-align: center;
}

.homeSpecialList{
  font-size: 1.5em;
  text-align: right;
  flex-basis: 45%;
}

.homeButtonContainer{
  display: flex;
  margin-top: 1em;
}

.homeSpecialContainer{
  display: flex;
  justify-content: center;
  column-gap: 6em;
}

.homeSlideshowContainer{
  flex-basis: 50%;
}

.homeSlideshowImage{
  border-radius: 1em;
  width: 50%;
  margin-top: 1.5em;
}

.homeButton{
  height: 100%;
  border-radius: 0.5em;
  width: 75%;
  position: relative;
}

.homeButtonLeft{
  left: 21%;
}

.homeButtonRight{
  left: 4%;
}

.homeButton:hover{
  cursor: pointer;
}

.homeButtonPic{
  max-width: 100%;
  border-radius: 1em;
}

.homeButtonTextContainer{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.homeButtonText{
  text-shadow: 1px 1px 1px #181717;
  text-decoration-line: none;
  text-align: center;
}

.homeButton:hover .homeButtonPic{
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.homeButton .homeButtonPic{
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}

.homeAboutPic{
  border-radius: 1em;
  flex-basis: 35%;
  max-width: 30%;
  align-self: center;
  margin-top: 2em;
}

.homeAboutText{
  margin-left: 4em;
  font-size: 1.125em;
  align-self: center;
}

.homeContactText{
  font-size: 1.125em;
  font-weight: 500;
  text-align: center;
}

.homeContactButton{
  text-decoration: none;
}

.homeContactButtonContainer{
  background-color: #222222;
  border-radius: 1em;
  padding: 1em;
  transition: background-color 0.2s ease-in-out;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.homeContactButtonContainer:hover{
  cursor: pointer;
  background-color: #3879cf;
}

/*-------------VIDEO-----------------*/


.videoTitle{
  text-align: center;
  font-size: 6em;
  font-weight: 600;
  margin-bottom: 15%;
}

.videoTitle span{
  color: #3879cf;
}

.videoWorkDiv{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1em;
}

.videoWorkImages{
  border-radius: 1em;
  max-width: 100%;
}

.videoWorkText{
  text-align: center;
}

.videoWorkTextContainer{
  opacity: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.videoWorkImageContainer{
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.videoWorkImageContainer a{
  height: 0;
}

.videoWorkImageContainer:hover{
  cursor: pointer;
}

.videoWorkImageContainer:hover .videoWorkImages{
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.videoWorkImageContainer .videoWorkImages{
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}

.videoWorkImageContainer:hover .videoWorkTextContainer{
  opacity: 100%;
}

.videoWorkButtonContainer{
  margin-bottom: 0;
}

.videoWorkButton{
  background-color: #222222;
  height: 100%;
  border-radius: 0.5em;
  width: 100%;
  padding: 1em;
  font-size: 1.875em;
  font-weight: 600;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.videoWorkButton:hover{
  cursor: pointer;
  background-color: #3879cf;
}

.videoTwoTime span{
  color: #3879cf;
}

.videoAccoladesDiv{
  display: flex;
}

.videoAccoladesPic{
  border-radius: 1em;
  flex-basis: 35%;
  max-width: 30%;
  align-self: center;
}

.videoAccoladesHeaders{
  color: #3879cf;
  margin-right: 2em;
}

.videoAccoladesText{
  margin-right: 4em;
}

.videoAccoladesLink{
  color: #3879cf;
  text-decoration: none;
}

/*-------------CODE-----------------*/

.codeProjectsContainer{
  display: flex;
}

.codeProjectsTextContainer{
  flex-basis: auto;
}

.codeProjectsImageContainer{
  display: flex;
  gap: 0.5em;
}

.codeList{
  text-decoration: none;
  margin-bottom: 5px;
  list-style: none;
}

.codeLanguagesDiv{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10%;
  
}

.codeLanguagesContainer{
  
}

.codingProjectsDiv{
  display: block;
  flex-wrap: nowrap;
  column-gap: 1em;
}

.codeExperienceH3{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.codeLanguages{
  width: 100%;
  border-radius: 5%;
  display: block;
}

.codeMainLanguages{
  text-align: center;
}

.codeEducationDiv{
  display: block;
}

.codeTimelineDiv{
  align-content: center;
  margin-bottom: 2em;
  display: flex;
}

.codeTimelineDot{
  background-color: #323232;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.codeTimelineLine{
  background-color: #323232;
  width: 20%;
  height: 0.5em;
  margin-top: 0.75em;
  margin-left: 0;
}

.codeTimelineLineHalf{
  width: 10%;
}

.codeComplete{
  background-color: #3879cf;
}

.codeEducationTextDiv{
  display: flex;
  justify-content: center;
}


/*-------------FOOTER-----------------*/

.footerContainer{
  display: flex;
  background-color: #222222;
  padding: 0.3em;
  justify-content: center;
  border-radius: 0.5em;
}

.footerContainer a{
  text-decoration: none;
}

.footerText{
  font-size: 0.85em;
  font-weight: 500;
  text-align: center;
  flex-basis: 20%;
}

.footerLink{
  transition: color 0.2s ease-in-out;
  font-size: 0.85em;
}

.footerLink:hover{
  color: #3879cf;
  cursor: pointer;
}


/*-------------OTHER SIZES-----------------*/


@media screen and (max-width: 1200px){

  .header{
    max-width: 70%;
  }

  .homeTitle{
    font-size: 4.5em;
  }

  .homeSlideshowImage{
    width: 70%;
  }

  .videoTitle{
    font-size: 4.5em;
  }

  .videoWorkDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .videoWorkImageContainer a img{
    object-fit: cover;
  }

  .videoWorkTextContainer{
    opacity: 100%;
  }

  .videoWorkButton{
    background-color: #3879cf;
  }

  .videoWorkImageContainer{
    margin-bottom: 1em;
  }

  .videoWorkImageContainer a{
    width: 0;
    height: 0;
  }

  .videoWorkButtonContainer{
    margin-bottom: 1.2em;
  }

  .codeProjectsTextContainer{
    flex-basis: 100%;
  }

  .codeProjectsImageContainer{
    display: block;
  }

  .codeProjectsImages{
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  .footerText{
    flex-basis: 30%;
  }
}

@media screen and (max-width: 1000px){

  .genMargins{
    margin-top: 13%;
  }

  .homeAboutDiv{
    display: block;
  }

  .homeAboutPic{
    margin-top: 1em;
    max-width: 100%;
  }

  .homeAboutText{
    margin-left: 0;
    margin-top: 2em;
  }

  .videoWorkDiv{
    flex-wrap: wrap;
  }

  .videoAccoladesDiv{
    display: block;
  }

  .videoAccoladesPic{
    max-width: 100%;
  }

  .videoWorkImageContainer{
    margin-bottom: 1em;
  }

  .codeProjectsContainer{
    display: block;
  }

}

@media screen and (max-width: 800px){

  .genMargins{
    margin-top: 15%;
  }

  .header{
    column-gap: 3em;
  }

  .homeHeader{
    font-size: 2.25em;
  }

  .homeButtonContainer{
    column-gap: 1em;
  }

  .homeButton{
    width: 100%;
  }
  
  .homeButtonLeft{
    left: 0;
  }
  
  .homeButtonRight{
    left: 0;
  }

  .homeFrontPic{
    width: 75%;
  }

  .homeSpecialHeader{
    font-size: 2.25em;
  }

  .homeSpecialList{
    font-size: 1.125em;
  }

  .homeSubTitle{
    font-size: 1.125em;
  }

  .homeSpecialContainer{
    display: block;
  }

  .homeSpecialList{
    text-align: center;
  }
  
.homeSlideshowContainer{
  width: 100%;
  }

  .homeSlideshowImage{
  display: block;
  margin: 0 auto;
  }

  .headerLogo{
    font-size: 1.5em;
  }

  .videoWorkImages{
    max-width: 100%;
  }

  .videoWorkText{
    text-align: center;
    text-shadow: 1px 1px 1px #181717;
  }

  .videoWorkTextContainer{
    transform: translate(-50%, -50%);
  }

  .footerContainer{
    display: block;
  }

  .footerContactContainer{
    display: flex;
    gap: 3em;
    justify-content: center;
  }

  .footerText{
    flex-basis: 40%;
  }

  .footerLink{
    font-size: 1em;
  }

  .footerContactContainer a{
    text-decoration: none;
  }

}

@media screen and (max-width: 600px){

  .genMargins{
    margin-top: 20%;
  }

  .homeFrontPic{
    width: 100%;
  }

  .homeTitle{
    font-size: 3.75em;
  }

  .homeSpecialHeader{
    text-align: center;
  }

  .homeSpecialList{
    text-align: center;
  }

  .homeButtonContainer{
    display: block;
  }

  .homeButtonRight{
    margin-top: 1em;
  }

  .homeAboutText{
    font-size: 1em;
  }

  .homeContactText{
    font-size: 1em;
  }

  .homeContactButtonContainer{
    max-width: 75%;
  }

  .homeSlideshowImage{
    width: 100%;
  }

  .genH2{
    font-size: 2.25em;
    text-align: center;
  }

  .genH3{
    font-size: 1.5em;
  }

  .genH4{
    font-size: 1.2em;
  }

  .genP{
    font-size: 1em;
  }

  .videoTitle{
    font-size: 3.75em;
  }

  .videoWorkDiv{
    display: block;
  }

  .videoWorkButtonContainer{
    margin-bottom: 0;
  }

  .codeProjectsImages{
    max-width: 100%;
  }

  .codeEducationDiv{
    display: flex;
    justify-content: center;
  }

  .codeTimelineDiv{
    flex-basis: 25%;
    align-content: center;
    margin-bottom: 0;
    display: block;
  }

  .codeTimelineDot{
    background-color: #323232;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
  }
  
  .codeTimelineLine{
    background-color: #323232;
    width: 0.3em;
    height: 15%;
    margin-left: 0.60em;
    margin-top: 0;
  }
  
  .codeTimelineLineHalf{
    height: 7.5%;
  }

  .codeComplete{
    background-color: #3879cf;
  }

  .codeEducationTextDiv{
    display: block;
  }

  .footerContactContainer{
    display: block;
  }

}